<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express. Reflect. Evolve</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Express. Reflect. Evolve</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/submit-cp?id=<%= id %>">Create Posts</a>
        <a href="submit-id">Search ID</a>
    </nav>
</body>
</html>